
Angular application is working.....

<!-- 
<input type="text" 
       value="Something"  /> -->

<!-- [______]
{{________}} 
( )-->

<div 
style="background-color:cadetblue">
<input type="text" 
       value="Something"  />
<input type="checkbox"> 
<input type="radio"> 
<input type="text"
 value="angular" > 
</div>


<input 
type="text" 
[value]="Name" 
/>
<input 
[type]="controlValue" > 


<button
 (click) = "alert()" >
  Show alert 
</button>

<input type="checkbox"/>
<select 
(change)="showLog();alert();">
  <option value="1">HSRlayout</option>
  <option value="2">SilkBoard</option>
</select>
<!-- 

basic application
ng new ____
ng s ______
application flow --> theory --->
app.component.html ---> modifiled
i see the output in the browser -->

Techincal

{{Name}} -- {{CustomerId}}

{{getLocationName()}}


{{1+2+43+4}}


<!-- component is nothing but a html+css+ts -->



<hr>
<hr>
<hr>
<span></span>



<!-- 3 hours -->

<!-- earlier : appcomponent has created and registed and utilized in index.html -->

<!-- now i have careated the my own component LIke created , registered(appmodule) , utlized(appcompenent.html)  -->


<app-custom-location></app-custom-location>

<!-- now crete the register and then utilize -->