<!--   
<address>
  Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br> 
  Visit us at:<br>F
  Example.com<br>
  Box 564, Disneyland<br>
  USA
  </address> -->
<div style="padding-left:300px;padding-right:100px;">
  <p class="text-primary text-capitalize fs-4">Email is : {{ ICForm.Email }}</p>
  <p class="text-primary text-capitalize fs-4">Password is : {{ ICForm.City }}</p>
  <p class="text-primary text-capitalize fs-4">Address is : {{ ICForm.Address }}</p>
  <p class="text-primary text-capitalize fs-4">
    Address 2 is : {{ ICForm.Password }}
  </p>
  <p class="text-primary text-capitalize fs-4">City is : {{ ICForm.SecondAddress }}</p>
  <p class="text-primary text-capitalize fs-4">State is : {{ ICForm.State }}</p>
  <p class="text-primary text-capitalize fs-4 fw-bold">
    Zip is : {{ ICForm.ZipCode }}
  </p>
</div>


